{% extends "client/application.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row py-4 text-center text-md-left">
    <div class="col">
      <h2>Create course</h2>
    </div>
  </div>

  {% crispy form %}
{% endblock content %}
