{% extends "client/application.html" %}

{% load crispy_forms_tags %}
{% load guardian_tags %}


{% block content %}
  {% get_obj_perms user for course as 'course_perms' %}

  <div class="row py-4">
    <div class="col-12 col-md-8 text-center text-md-left">
      <h3>{{ course.title }}</h3>
    </div>

    {% if 'manage_course' in course_perms %}
      <div class="col text-right">
        <div class="dropleft">
          <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
            Settings
          </button>

          {% include 'course/settings_dropdown_menu.html' %}
        </div>
      </div>
    {% endif %}
  </div>

  {% for section in course.section_set.all %}

    <div class="card mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col text-center align-self-center" style="max-width: 32px;">
            <i class="far fa-folder"></i>
          </div>

          <div class="col align-self-center">
            {{ section.title }}
          </div>
          {% if 'manage_course' in course_perms %}
            <div class="col text-right">
              <div class="dropleft">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu">
                  <button type="button" class="dropdown-item"
                          data-toggle="modal"
                          data-target="#create_section_item_modal"
                          data-exercise-url="{% url 'exercise:create' %}?section_pk={{ section.pk }}"
                          data-exam-url="{% url 'exam:create' %}?section_pk={{ section.pk }}">
                    Add section item
                  </button>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ section.get_update_url }}">Update section</a>
                  <a class="dropdown-item" href="{{ section.get_delete_url }}">Delete section</a>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <ul class="list-group list-group-flush">
        {% for sectionitem in section.sectionitem_set.all %}
          <li class="list-group-item">
            <div class="row">

              {% if sectionitem.content_type == content_types.exercise %}
                <div class="col text-center align-self-center" style="max-width: 32px;">
                  <i class="far fa-file-code"></i>
                </div>
              {% endif %}

              <div class="col d-flex align-items-center">
                <a class="btn btn-link pl-0" href="{{ sectionitem.content_object.get_absolute_url }}">
                  {{ sectionitem.content_object }}
                </a>

                {% if sectionitem.pk in completed_section_item_pks %}
                  <i class="fas fa-check" style="color: green;"></i>
                {% endif %}
              </div>
              {% if 'manage_course' in course_perms %}
                <div class="col text-right">
                  <div class="dropleft">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-cog"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ sectionitem.content_object.get_update_url }}">Update</a>
                      <a class="dropdown-item" href="{{ sectionitem.content_object.get_delete_url }}">Delete</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>


    {#    <div class="card card-small mb-4">#}
    {#      <div class="blog-comments__item d-flex p-3">#}
    {#        <div class="blog-comments__content">#}
    {#          <h4 class="blog-comments__meta text-muted">#}
    {#            <a class="text-secondary" href="{{ section.get_absolute_url }}">{{ section.title }}</a>#}
    {#          </h4>#}
    {#          <p class="m-0 my-1 mb-2 text-muted">#}
    {#            {{ section.description | linebreaks | truncatechars:120 }}#}
    {#          </p>#}
    {#        </div>#}
    {#      </div>#}
    {#    </div>#}
  {% endfor %}

  <div class="modal fade" id="create_section_item_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a class="btn btn-link" href="#" id="create_exercise_link">Create new exercise</a>
          <a class="btn btn-link" href="#" id="create_exam_link">Create new exam</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}

  <script>
    {#  TODO add this to application bundle #}
    $('#create_section_item_modal').on('show.bs.modal', function (event) {
      const button = $(event.relatedTarget) // Button that triggered the modal

      const exerciseUrl = button.data('exercise-url')
      const examUrl = button.data('exam-url')

      const modal = $(this)

      modal.find('#create_exercise_link').attr('href', exerciseUrl)
      modal.find('#create_exam_link').attr('href', examUrl)

      console.log(examUrl, exerciseUrl)
    })
  </script>
{% endblock scripts %}
