{% extends "client/application.html" %}

{% load crispy_forms_tags %}
{% load guardian_tags %}

{% block container_suffix %}-fluid{% endblock %}

{% block content %}
  <div class="row py-4 text-center text-md-left">
    <div class="col">
      <h2>Course list</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-4">
      {% crispy filter.form %}
    </div>
    <div class="col-md-9">
      <div class="row">
        {% for course in courses %}
          {% get_obj_perms request.user for course as 'course_perms' %}

          <div class="col-12 col-md-6 mb-4">
            <div class="card">

              {% if 'manage_course' in course_perms %}
                <div class="card-header text-right">
                  <div class="dropleft">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-cog"></i>
                    </button>

                    {% include 'course/settings_dropdown_menu.html' %}
                  </div>
                </div>
              {% endif %}

              <div class="card-body">
                <h5 class="card-title">
                  <a href="{{ course.get_absolute_url }}">
                    {{ course.title }}
                  </a>
                </h5>
                <small class="text-muted">[{{ course.programming_language }}] - {{ course.difficulty }}</small>
                <p>
                  {{ course.description | linebreaks | truncatechars:120 }}
                </p>
              </div>
              <div class="card-footer text-muted text-center">
                <a href="{{ course.get_absolute_url }}" class="card-link">Course detail</a>
              </div>
            </div>
          </div>

          {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
        </div>
    </div>
  </div>
{% endblock content %}

{#{% block scripts %}#}
{#    <script>#}
{#        $(".small-progress-doughnut").each(function () {#}
{#            const canvas = $(this);#}
{##}
{#            const chart = new Chart(canvas, {#}
{#                type: 'doughnut',#}
{#                data: {#}
{#                    labels: ["Done", "Left"],#}
{#                    datasets: [{#}
{#                        data: [60, 40],#}
{#                        backgroundColor: [#}
{#                            'rgba(46, 112, 255, 1)',#}
{#                            'rgba(0, 0, 0, 0.5)'#}
{#                        ]#}
{#                    }],#}
{#                }#}
{#            })#}
{#        });#}
{#    </script>#}
{#{% endblock scripts %}#}
