<div class="dropdown-menu">
  <a class="dropdown-item" href="{{ course.get_update_url }}?next={{ request.path }}">
    Update course
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'section:create' %}?course_pk={{ course.pk }}&next={{ request.path }}">Create section</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item"
     href="{% url 'permission:course:manager_groups' course_pk=course.pk %}?next={{ request.path }}">
    Managers (groups)
  </a>
  <a class="dropdown-item"
     href="{% url 'permission:course:manager_users' course_pk=course.pk %}?next={{ request.path }}">
    Managers (users)
  </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item"
     href="{% url 'permission:course:learner_groups' course_pk=course.pk %}?next={{ request.path }}">
    Learners (group)
  </a>
  <a class="dropdown-item"
     href="{% url 'permission:course:learner_users' course_pk=course.pk %}?next={{ request.path }}">
    Learners (users)
  </a>
</div>
