{% extends "client/application.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="page-header row no-gutters py-4">
  <div class="col-12 text-center text-sm-left mb-4 mb-sm-0">
    <span class="text-uppercase page-subtitle">Create task subtitle</span>
    <h3 class="page-title">Create task</h3>
  </div>
</div>

{% crispy form %}
{% endblock content %}

{% block scripts %}
{{ block.super }}

<script>

  $('#id_language').on('change', function () {
    const selectedOption = $(this).find('option:selected')
    const editorLanguage = selectedOption.attr('data-editor-language')

    window.monaco_editors.map(function (editor) {
      monaco.editor.setModelLanguage(editor.getModel(), editorLanguage)
    })
  })

</script>
{% endblock %}
