{% extends "client/application.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load guardian_tags %}

{% block content %}
{% get_obj_perms user for task.course as 'course_perms' %}

<div class="page-header row no-gutters py-4 mb-3 border-bottom">
  <div class="col-12 col-md-8 text-center text-sm-left mb-4 mb-sm-0">
    <span class="text-uppercase page-subtitle">Task detail subtitle</span>
    <h3 class="page-title">{{ task.title }}</h3>
  </div>

  {% if 'manage_course' in course_perms %}
  <div class="col-12 col-md-4 d-flex align-items-center">
    <div class="btn-group dropleft ml-auto">
      <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Settings
      </button>
      <div class="dropdown-menu dropdown-menu-small">
        <a class="dropdown-item" href="{% url 'task:update' pk=task.pk %}">Update
          task</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-12 col-md-4 mb-4">
    <div class="col-12 d-flex pb-3 align-items-center">
      <div
        class="nav nav-tabs btn-group border-bottom-0 btn-group-sm btn-group-toggle d-inline-flex mb-4 mb-sm-0 mx-auto"
        role="group"
        aria-label="Page actions">
        <a data-toggle="tab" href="#assigment" class="btn btn-white active"> Assigment</a>
        <a data-toggle="tab" href="#output" class="btn btn-white"> Output</a>
      </div>

      {#
      <ul class="nav nav-tabs">#}
        {#
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        #}
        {#
        <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
        #}
        {#
        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
        #}
        {#
      </ul>
      #}
      {##}
      {#
      <div class="tab-content">#}
        {#
        <div id="home" class="tab-pane fade in active">#}
          {# <h3>HOME</h3>#}
          {# <p>Some content.</p>#}
          {#
        </div>
        #}
        {#
        <div id="menu1" class="tab-pane fade">#}
          {# <h3>Menu 1</h3>#}
          {# <p>Some content in menu 1.</p>#}
          {#
        </div>
        #}
        {#
        <div id="menu2" class="tab-pane fade">#}
          {# <h3>Menu 2</h3>#}
          {# <p>Some content in menu 2.</p>#}
          {#
        </div>
        #}
        {#
      </div>
      #}
    </div>

    <div class="tab-content">
      <div id="assigment" class="tab-pane fade in show active">
        <div class="card card-small">
          <div class="card-header border-bottom">
            <h6 class="m-0">Task assigment</h6>
          </div>
          <div class="card-body">
            {{ task.description | linebreaks }}
          </div>
        </div>
      </div>
      <div id="output" class="tab-pane fade">
        <div class="card card-small">
          <div class="card-header border-bottom">
            <h6 class="m-0">Compiler output</h6>
          </div>
          <div class="card-body">
            <div class="blog-comments__content">
              <div class="blog-comments__meta">
                <strong>Stdout</strong>
              </div>
              <p class="m-0 my-1 mb-2 text-muted" id='stdout'></p>
              <div class="blog-comments__meta">
                <strong>Stderr</strong>
              </div>
              <p class="m-0 my-1 mb-2 text-muted" id='stderr'></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8">
    {% crispy form %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}

<script>
  $('#taskSubmitForm').on('submit', function (event) {
    event.preventDefault()

    $.post($(this).attr('action') || window.location.href, $(this).serialize(), function (data) {
      console.log(data)
      const output = data.output

      if (output.result.convertedResult && output.result.convertedResult.failures === 0) {
        alert('Great, all tests have passed')
      } else {
        alert('Failed, see output tab')
      }

      $('#stdout').html(output.stdout)
      $('#stderr').html(output.stderr)
    })

    console.log('form submitted!')
  })
</script>
{% endblock %}
