{% extends "client/application.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="page-header row no-gutters py-4">
  <div class="col-12 text-center text-sm-left mb-4 mb-sm-0">
    <span class="text-uppercase page-subtitle">Update task subtitle</span>
    <h3 class="page-title">Update task</h3>
  </div>
</div>

{% crispy form %}
{% endblock content %}
