{% extends "public/base.html" %}

{% block content %}
  <div class="row py-4 text-center text-md-left">
    <div class="col">
      <h2>Request was created</h2>
    </div>
  </div>


{% endblock content %}
