/* FIXME future fix in template */
.icon-sidebar-nav .main-sidebar__nav-title {
    color: #9ea8b9;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .icon-sidebar-nav .main-sidebar__nav-title {
        color: #fff;
    }
}