<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'page:home' %}">PROJECT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="coursesDropdown" data-toggle="dropdown">Courses</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'course:list' %}">Course list</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'course:create' %}">Create course</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          {{ user.get_full_name }}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="#">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account:logout' %}">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
