{% extends 'client/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-header py-3 text-center">
        <h3>Access Your Account</h3>
      </div>
      <div class="card-body">
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock content %}
