{% extends "client/base.html" %}

{% block main %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <p>You have been logged off</p>
        <p>You can login back at <a href="{% url 'account:login' %}">login page</a></p>
      </div>
    </div>
  </div>
{% endblock main %}
