{% extends "client/application.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row py-4 text-center text-md-left">
    <div class="col">
      <h2>Delete exercise</h2>
    </div>
  </div>

  <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" class="btn btn-danger" value="Confirm">
  </form>
{% endblock content %}
