{% extends "client/application.html" %}

{% load crispy_forms_tags %}
{% load guardian_tags %}

{% block container_suffix %}-fluid{% endblock %}

{% block content %}
  {% get_obj_perms request.user for course as 'course_perms' %}

  <div class="row my-4">
    <div class="col-12 col-md-4 mb-4">
      <div class="row d-flex justify-content-center mb-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#extraContainer">Extra</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#assigmentContainer">Assigment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#outputContainer">Output</a>
          </li>
        </ul>
      </div>

      <div class="row mb-3">
        <div class="col">
          <div class="tab-content">
            <div class="tab-pane" id="extraContainer">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#versions">
                        <i class="fas fa-history"></i> Versions
                      </button>
                    </div>
                  </div>
                  {% if 'manage_course' in course_perms %}
                    <div class="row mt-2">
                      <div class="col">
                        <a href="{% url 'exercise:submission_logs' pk=exercise.pk %}" class="btn btn-primary">
                          <i class="fas fa-poll"></i> Submission logs
                        </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="tab-pane active" id="assigmentContainer">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ exercise.title }}</h5>
                  <p class="card-text">
                    {{ exercise.description | linebreaks }}
                  </p>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="outputContainer">
              <div class="card">
                <div class="card-body" id="outputBody">
                  <p class="text-muted mb-0">No tests were runned yet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {#      <div class="tab-content">#}
      {#        <div id="assigment" class="tab-pane fade in show active" role="tabpanel">#}
      {#          <div class="card card-small">#}
      {#            <div class="card-header border-bottom">#}
      {#              <h6 class="m-0">Task assigment</h6>#}
      {#            </div>#}
      {#            <div class="card-body">#}
      {#              {{ exercise.description | linebreaks }}#}
      {#            </div>#}
      {#          </div>#}
      {#        </div>#}
      {#        <div id="output" class="tab-pane fade" role="tabpanel">#}
      {#          <div class="card card-small">#}
      {#            <div class="card-header border-bottom">#}
      {#              <h6 class="m-0">Compiler output</h6>#}
      {#            </div>#}
      {#            <div class="card-body">#}
      {#              <div class="blog-comments__content">#}
      {#                <div class="blog-comments__meta">#}
      {#                  <strong>Stdout</strong>#}
      {#                </div>#}
      {#                <p class="m-0 my-1 mb-2 text-muted" id='stdout'></p>#}
      {#                <div class="blog-comments__meta">#}
      {#                  <strong>Stderr</strong>#}
      {#                </div>#}
      {#                <p class="m-0 my-1 mb-2 text-muted" id='stderr'></p>#}
      {#              </div>#}
      {#            </div>#}
      {#          </div>#}
      {#        </div>#}
      {#      </div>#}
    </div>

    <div class="col-12 col-md-8">
      {% crispy form %}
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="versions" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Saved versions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% for log in exercise_submission_logs %}
            <button type="button" class="btn btn-{{ log.tests_passed | yesno:'success,secondary' }}">
              {{ log.created_at }}
            </button>
            {% if log.is_final %}<span class="text-success">| final tests |</span>{% endif %}
            {#            <p>{{ log.code | linebreaks }}</p>#}
            {#            <p>{{ log.tests | linebreaks }}</p>#}
            {#            <p>is final: {{ log.is_final }}</p>#}
            {#            <p>tests passed: {{ log.tests_passed }}</p>#}
            <hr>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}

  <script>

    function nltoBr (string) {
      return string.replace('\n', '<br />', 'g')
    }

    function convertTestCase (testCase) {
      const el = $('<div></div>')

      const header = $('<div></div>')
      header.append(testCase.name)

      const body = $('<div></div>')
      body.css('margin-left', '10px')

      if (testCase.failure) {
        body.append(`<p style="color: red">Failure: ${nltoBr(testCase.failure)}</p>`)
      } else {
        body.append(`<p style="color: green">Passed</p>`)
      }

      if (testCase.output) {
        body.append(`<p style="color: gray">Output: ${nltoBr(testCase.output)}</p>`)
      }

      el.append(header, body)

      return el
    }

    function convertTestSuite (testSuite) {
      const el = $('<div></div>')

      const header = $('<div></div>')
      header.append(testSuite.name)

      const body = $('<div></div>')
      body.css('margin-left', '10px')

      testSuite.testCases.forEach(testSuiteNested => {
        body.append(convertTestCase(testSuiteNested))
      })

      el.append(header, body)

      return el
    }

    $('#exerciseSubmissionForm').on('submit', function (event) {
      event.preventDefault()

      $.post($(this).attr('action') || window.location.href, $(this).serialize(), function (data) {
        console.log(data)
        const output = data.output

        const { result: { convertedResult } } = data.output

        if (convertedResult && convertedResult.failures === 0) {
          if (convertedResult.testCases.length > 0) {

          }

          alert('Great, all tests have passed')
        } else {
          alert('Failed, see output tab')
        }

        const resEl = $('<div></div>')
        resEl.css('font-size', '0.75em')

        if (convertedResult) {
          if (convertedResult.failures === 0) {
            resEl.append(`<p style="color: green">All tests have passed</p>`)
          } else {
            resEl.append(`<p style="color: red">Failures: ${convertedResult.failures}</p>`)
          }

          convertedResult.testSuites.forEach(testSuite => {
            resEl.append(convertTestSuite(testSuite))
          })
        }

        if (output.error) {
          resEl.append(`<p style="color:red">Error: ${nltoBr(output.error)}</p>`)
        }

        if (output.stderr) {
          resEl.append(`<p style="color:red">Stderr: ${nltoBr(output.stderr)}</p>`)
        }

        if (output.stdout) {
          resEl.append(`<hr><p style="color:gray">Stdout: ${nltoBr(output.stdout)}</p>`)
        }

        $('#outputBody').html(resEl)

      }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.error)
      })
    })
  </script>
{% endblock %}
