{% extends "client/application.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-3 mb-4">
      {% crispy filter.form %}
    </div>
    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Author</th>
            <th scope="col">Tests passed</th>
            <th scope="col">Submitted at</th>
          </tr>
          </thead>
          <tbody>
          {% for log in submission_logs %}
            <tr>
              <td>{{ log.pk }}</td>
              <td>{{ log.author }}</td>
              <td>
                {% if log.tests_passed %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </td>
              <td>{{ log.created_at }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
