<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Luboš Zápotočný">

  <title>Interactive programming education</title>

  {% block styles %}{% endblock styles %}
</head>
<body>

<!-- main website -->
{% block main %}{% endblock main %}
<!-- end main website -->

{% block scripts %}{% endblock scripts %}

</body>
</html>
