/* Move a little bit required asterisk */
.asteriskField {
    padding-left: 2px;
}

/* FIXME future fix in template */
/* Make login form responsible on small devices */
.auth-form {
    min-width: auto;
}

/* FIXME future fix in template */
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .auth-form {
        min-width: 19.375rem;
    }
}
