{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block styles %}
  {% render_bundle 'public_app' 'css' %}
{% endblock styles %}

{% block main %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'page:home' %}">ucmekod.eu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'client:request' %}">Request aeta access</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
{% endblock main %}

{% block scripts %}
  {% render_bundle 'public_app' 'js' %}
{% endblock scripts %}
